/*
.sidenav {
  width: 200px;
}

  .sidenav .mat-toolbar {
    background: inherit;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .right-header-menu > .disconnect{
    color: #A40F0F;
    text-decoration: none;
    font-size: 14px;
  }




  .right-header-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: auto;
    align-items: center;

    a {
      text-decoration: none;
      color: black;
    }

    .active {
      color: #6C5CCF;
    }

  .logo {
    height: 60px;
    margin-right: 16px;
  }

  .nav-button {
    margin-left: auto;
  }
*/

