<div class="h-full min-h-[calc(100vh-5rem)] flex flex-col">
  <app-back-button/>
  <h1 class="big-title">Créer un nouvel article</h1>
  <form
    class="flex flex-col justify-center items-center gap-4 flex-1 w-full"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <select
      class="custom-input ring-2 ring-purple-500"
      formControlName="topicId"
    >
      <option [value]="" disabled selected>Sélectionner un thème</option>
      @for (topic of topics$ | async; track topic.id) {
        <option [value]="topic.id">{{ topic.name }}</option>
      }
    </select>
    <input
      class="custom-input ring-2 ring-purple-500"
      placeholder="Titre de l'article"
      formControlName="title"
    />
    <textarea
      class="custom-input ring-2 ring-purple-500 flex-1 min-h-36 resize-none"
      placeholder="Contenu de l'article"
      formControlName="content"
    ></textarea>
    <button class="call-to-action" type="submit" [disabled]="!form.valid">
      Sauvegarde
    </button>

    @if (hasError()) {
      <p class="bg-red-500 px-4 text-white">Un erreur c'est produite</p>
    }
  </form>
</div>
